{% extends "base.html" %}

{% block title %}Consultas{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <div class="container mt-4">
        <h2 class="mb-4 mt-4">Consultas</h2>
        <div id="calendar" class="mb-4 bg-white rounded shadow p-4"></div>
        {% if consultas %}
            <ul class="list-group">
                {% for consulta in consultas %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'detalle' consulta.pk %}" class="text-decoration-none">
                            {{ consulta.fecha }} - {{ consulta.paciente }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">No hay consultas.</div>
        {% endif %}
    <script>
          document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es',
            dateClick: function(info) {
                const url = "{% url 'crear_consulta' %}?fecha=" + info.dateStr;
                window.location.href = url;
            }
        });
        calendar.render();
    });
    </script>
    </div>
{% endblock %}