{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f8f9fa;">
    <div class="card shadow-lg rounded-4 p-4" style="width: 100%; max-width: 460px;">
        <h1 class="text-center mb-4 fw-bold" style="font-family: 'Segoe UI', sans-serif; font-size: 2.5rem;">Crear cuenta</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Usuario" required>
                <label for="id_username">Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" id="id_email" class="form-control" placeholder="Email">
                <label for="id_email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" id="id_password" class="form-control" placeholder="Contraseña" required>
                <label for="id_password">Contraseña</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirmar contraseña" required>
                <label for="id_password">Confirmar Contraseña</label>
            </div>

            <div class="form-floating mb-4">
                <select class="form-select" id="id_rol" name="rol" required>
                    <option value="" selected disabled>Seleccionar rol</option>
                    <option value="paciente">Paciente</option>
                    <option value="medico">Médico</option>
                </select>
                <label for="id_rol">Rol</label>
            </div>
            <button type="submit" class="btn btn-success w-100 btn-lg">Registrarse</button>
        </form>
        <div class="mt-3 text-center">
            <small class="text-muted">¿Ya tenés cuenta? <a href="/usuarios/login/" class="text-decoration-none">Iniciar sesión</a></small>
        </div>
    </div>
</div>
{% endblock %}