.fade-message {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
    animation: fadeout 4s forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


/* Estilos NavBar */
.navbar {
    background-color: #6f42c1 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.nav-link {
    color: rgba(255,255,255,0.9) !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 0.5rem;
}

.dropdown-item {
    padding: 0.7rem 1.2rem;
    transition: all 0.2s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    transform: translateX(5px);
}

.profile-img-container {
    margin-left: 1rem;
    position: relative;
}

.profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}


/* Estilos Formularios */
.form-card {
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.form-card .card-header {
    background-color: #6f42c1;
    color: white;
    border: none;
    padding: 1.5rem;
    border-radius: 8px 8px 0 0;
}

.form-section {
    padding: 1.5rem;
    background-color: white;
    border-left : 4px solid #6f42c1;
}

.form-control:focus + .input-group-text {
    border-color: #6f42c1;
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #5a32a3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
    color: #6f42c1;
}


/* Nuevos estilos personalizados */
.custom-purple-badge {
    background-color: #6f42c1;
    color: white;
}

.custom-outline-purple {
    color: #6f42c1;
    border: 1px solid #6f42c1;
    transition: all 0.3s ease;
}

.custom-outline-purple:hover {
    background-color: #6f42c1;
    color: white;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* Colores */
.text-purple {
    color: #6f42c1 !important;
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.bg-light {
    background-color: #f8f9fa!important;
}

.footer {
    background-color: #6f42c1;
    color: white;
    padding: 1rem;
}
