name: Docker-publish

on: [push]

jobs:
  push_to_registry:
    name: build image and push
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor }}
          password: ${{secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: docker/.
          tags: |
            ghcr.io/matecunille/medify:latest
          push: true
